[buildout]
extends =
    http://dist.plone.org/release/4.1.5/versions.cfg
    http://good-py.appspot.com/release/dexterity/1.2.1?plone=4.1.5
    zeo.cfg
eggs =
    Plone
    Pillow
    plone.namedfile[blobs]  # XXX: Missing dependency of TinyMCE
    collective.zamqpdemo
    sauna.reload
parts +=
    erlang
    rabbitmq
    instance
develop = .
versions=versions

extensions = mr.developer
auto-checkout = collective.zamqp
sources = sources
sources-dir = ${:parts-directory}

[versions]
collective.z3cform.datetimewidget >= 1.1.1

[sources]
collective.zamqp = git http://github.com/datakurre/collective.zamqp.git

[instance]
recipe = plone.recipe.zope2instance
effective-user = atsoukka
http-address = 8081
user = admin:admin
eggs = ${buildout:eggs}
zope-conf-additional =
   %import sauna.reload
   %import collective.zamqp
   <amqp-broker-connection>
       connection_id amqpdemo
       virtual_host /amqpdemo
       username amqpdemo
       password amqpdemo
       keepalive 60
   </amqp-broker-connection>
   <amqp-consuming-server>
       connection_id amqpdemo
       site_id Plone
       user_id admin
   </amqp-consuming-server>

[zeoinstance]
zope-conf-additional =
   %import sauna.reload
   %import collective.zamqp
   <amqp-broker-connection>
       connection_id amqpdemo
       virtual_host /amqpdemo
       username amqpdemo
       password amqpdemo
       keepalive 60
   </amqp-broker-connection>
zserver-threads = 4

[zamqp-consumer]
zope-conf-additional =
   %import sauna.reload
   %import collective.zamqp
   <amqp-broker-connection>
       connection_id amqpdemo
       virtual_host /amqpdemo
       username amqpdemo
       password amqpdemo
       heartbeat 120
       keepalive 30
   </amqp-broker-connection>
   <amqp-consuming-server>
       connection_id amqpdemo
       site_id Plone
       user_id admin
   </amqp-consuming-server>
zserver-threads = 4
# in production, use zserver-threads = 1

[ports]
zeoserver = 8800
instance1 = ${instance:http-address}
# ...
zamqp-consumer = 8807
debug-instance = 8808

[erlang]
recipe = zc.recipe.cmmi
url = http://www.erlang.org/download/otp_src_R13B02-1.tar.gz
environment =
    CFLAGS=-O0

[rabbitmq]
recipe = rod.recipe.rabbitmq
erlang-path = ${erlang:location}/bin
url = http://www.rabbitmq.com/releases/rabbitmq-server/v2.8.2/rabbitmq-server-2.8.2.tar.gz
