[
  {rabbit, [{default_vhost, <<"/amqpdemo">>},
            {default_user, <<"amqpdemo">>},
            {default_pass, <<"amqpdemo">>},
            {default_permissions, [<<"^collective\.zamqp.*|^amqpdemo.*">>,
                                   <<".*">>,
                                   <<".*">>]},
            {disk_free_limit, 100000000}
           ]}
].
